body {
    background-color: #000000;
}
.welcome1 {
    background-repeat: repeat-x;
    height: 100%;
    background-position: center;
    animation: slideshow 20s infinite; /* Adjust the timing as needed */
    background-color: #000000;
}

@keyframes slideshow {
    0% { background-image: url('image/image14.jpg'); }
    33% { background-image: url('image/image1.jpg'); }
    44% { background-image: url('image/image11.jpg'); }
    55% { background-image: url('image/image2.png'); }
    66% { background-image: url('image/image6.webp'); }
    77% { background-image: url('image/images10.jpg'); }
    88% { background-image: url('image/image5.jpg'); }
    100% { background-image: url('image/image13.jpg'); }
}

.welcome {
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    background-color: #fff;
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgba(129, 3, 3, 0.3) 50%, rgba(0, 0, 0, 1));
}

.welcome:hover{
    transform: scale(1.1);
    filter: brightness(90%); /* Darkens the image to 70% brightness */
}

.welcome h1 {
    font-size: 48px;
    font-style: bold;
    font-weight: 900;
    text-decoration-style: double;
    margin-bottom: 20px;
    color: #ffffff;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 40px;
}

.welcome .btn {
    background-color: #e11d1d;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.welcome .btn:hover {
    background-color: #9a0a00;
}

.about-us{
    align-items: center;
    display: flex;
    text-align: center;
    height: 100%;
    background: rgb(173, 173, 173);
}

.about-us caption {
    caption-side: top; /* Ensures caption is above the table */
    font-size: 60px;
    text-align: center;
    align-items: center;
    font-weight: 900;
    color: #000000;
    padding: 1px 40px 40px 40px;
}

.about-us th {
    font-size: 40px;
    padding: 0 0 20px 0;
    color: #000000;
}

.about-us td {
    font-size: 20px;
    padding: 0 20px 50px 20px;
    text-align: left;
}

.about-us h1 {
    align-items: center;
    font-size: 30px;
    padding: 20px 0 5px 0;
}

.about-us button {
    font-size: 30px;
    border-radius: 20px;
    border: 5px groove #180101;
    background-color:#ffffff;
    filter: brightness(90%);
    padding: 10px 10px;
    margin: 20px 20px 100px 0;
    cursor: pointer;
}

.about-us button:hover {
    transform: scale(1.1);
    filter: brightness(70%);
}

.about-us a {
    text-decoration: none;
    color: #000000;
}