{% extends "layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}
{% block content %}
    <div class="account">
      <div class="user_info">
        <div >
            {% if image_file %}
                <img class="profile-pic" src="{{ image_file }}">
            {% else %}
                <h1 class="profile-placeholder">
                    {{ first_letter }}
                </h1>
            {% endif%}
        </div>
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
        <a href="/edit_account"><button class="edit-btn">Edit profile</button></a>
        <legend class="mb-4">Liked Artworks</legend>
      </div>
        <div class="grid-container">
            {% for post in liked_artworks %}
                    <div class="grid-item">
                        <a href="{{ url_for('posts.single_post', art_id = post.id) }}">
                            <img src="{{ url_for('static', filename='artworks/' + post.image) }}" alt="Artwork">
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}