{% extends "layout.html" %}

{% block extra_css %}
    <link rel="icon" href="{{ url_for('static', filename='image/icon.jpg') }}" alt="Afri">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='update_post.css') }}">
{% endblock %}

{% block content %}
    <div class="section">
        <div class="image">
            <img src="{{ image }}" alt="Image">
        </div>
        <div class="content-section">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 New-post">Update Post</legend>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label mb-2") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg text-field", placeholder="Add a title") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class="form-control-label mb-2") }}
                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg text-field", placeholder="Add a description", rows="4") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.price.label(class="form-control-label mb-2") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg text-field", autocomplete="off", placeholder="Add a price") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.art_type.label(class="form-control-label mb-2") }}
                        {% if form.art_type.errors %}
                            {{ form.art_type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.art_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.art_type(class="form-control form-control-lg text-field", placeholder="Select for art type") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.style.label(class="form-control-label") }}
                        {% if form.style.errors %}
                            {{ form.style(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.style.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.style(class="form-control form-control-lg mt-2 text-field", placeholder="Select for art style") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.update(class="btn btn-submit") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}